/* CSS Reset */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Universal Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    font-family: arial, sans-serif;
    font-size: 13px;
}

a {
    text-decoration: none;
    color: #000;
    cursor: auto;
}


/* Navigation */

nav#header {
    line-height: 24px;
    text-align: right;
    min-width: 241px;
    padding: 20px;
}

nav ul li {
    display: inline;
    padding: 6px;
    opacity: 0.75;
}

nav ul li:hover {
    text-decoration: underline;
}

#gmail, #g-images {
    vertical-align: top;
}


#notifications {
    height: 20px;
    width: 20px;
    vertical-align: top;
    opacity: 0.75;
    padding: 0 6px;
}

#notifications:hover {
    opacity: 1;
}

#apps img {
    vertical-align: top;
    padding-top: 2px;
    opacity: 0.8;
}

#apps img:hover {
    opacity: 1;
}

#icon img{
    height: 30px;
    width: 30px;
    vertical-align: top;
    margin-top: -5px;
}

/* Container */

#container {
    width: 1275px;
    height:398px;
    margin: 0 auto;
    text-align: -webkit-center;
    padding-top: 134px;
}
/* Logo */

#logo {
    height: 92px;
    width: 272px;
    background: url('../images/logo.png') center center no-repeat;
    background-size: 100%;
    margin: 0 auto;
}

/* Submit Form */

input[type="text"] {
    display: block;
    width: 584px;
    height: 44px;
    padding: 6px 9px 0 16px;
    margin: 25px auto 11px;
    vertical-align: top;
    background: #fff;
    box-sizing: border-box;
    font-size: 16px;
    box-shadow: 0 5px 5px -5px #ccc;
    border: 1px solid #ccc;
}

input[type="text"]:hover {
    box-shadow: 1px 3px 5px #ccc;
}

input[type="submit"] {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    cursor: default;
    font-weight: bold;
    margin: 20px 4px;
    padding: 0 16px;
    text-align: center;
    height: 36px;
    line-height: 30px;
    box-sizing: border-box;
    font-size: 12px;
}

input[type="submit"]:hover {
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #222;
}

/* Alternate Language Link */

small {
    display: inline-block;
    line-height: 28px;
}

small a {
    color: #1a0dab;
}

small a:hover {
    color: #609;
}

/* Footer */

footer {
    position: absolute;
    bottom: 0;
    background: #f2f2f2;
    width: 100%;
    height: 35px;
    font-size: 10pt;
    margin: 0 auto;
    min-width: 980px;
    border-top: 1px solid #e4e4e4;
    line-height: 40px;
    padding: 0 6px 5px 6px;
}


footer nav ul li {
    padding-left: 20px;
    color: #666;
    opacity: 0.75;
}

#left-footer {
    float: left;
    text-align: left;
    padding-left: 5px;
}

#right-footer {
    float:right;
    text-align: right;
    margin-right: 5px;
    padding-right: 20px;
}



